# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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
# Authorization callback URL: https://authjs.dev/reference/core/providers_github#callback-url
AUTH_GITHUB_ID=williamwrathborne@gmail.com
AUTH_GITHUB_SECRET=Quarterrounds1313!!
# Support OAuth login on preview deployments, see: https://authjs.dev/guides/basics/deployment#securing-a-preview-deployment
# Set the following only when deployed. In this example, we can reuse the same OAuth app, but if you are storing users, we recommend using a different OAuth app for development/production so that you don't mix your test and production user base.
# AUTH_REDIRECT_PROXY_URL=https://YOURAPP.vercel.app/api/auth

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-kv/quickstart and 
KV_URL="redis://default:62ad8970318f4e368cd3757fe1caf9b4@arriving-dinosaur-49076.kv.vercel-storage.com:49076"
KV_REST_API_URL="https://arriving-dinosaur-49076.kv.vercel-storage.com"
KV_REST_API_TOKEN="Ab-0ASQgMTY1MjViYmQtMmYyMS00NTM3LWI1NzgtMzg0MzlhOTc4ZGM1NjJhZDg5NzAzMThmNGUzNjhjZDM3NTdmZTFjYWY5YjQ="
KV_REST_API_READ_ONLY_TOKEN="Ar-0ASQgMTY1MjViYmQtMmYyMS00NTM3LWI1NzgtMzg0MzlhOTc4ZGM1nCbw2rsHExtTJA_chglilhdap0bb4dEpHr040GdfnrY="

